main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.panel-izquierdo,
.panel-derecho {
  max-width: 700px;
  width: 100%;
  background-color: rgb(195, 195, 195);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.panel-izquierdo {
  flex: 1 1 350px;
  background-color: #c6c4c4;
  color: #000000;
}

.panel-derecho {
  flex: 2 1 600px;
}

.estilo-centrado {
  text-align: center;
  margin-top: 2rem;
}

.info-butacas {
  color: green;
}

.tarjeta-descripcion {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem 0;
}

.btn-exito {
  background-color: #198754;
  color: white;
  width: 100%;
}

.btn-principal {
  background-color: goldenrod;
  color: white;
}

.pantalla-etiqueta {
  text-align: center;
  font-weight: bold;
  color: #0a0a0a;
  margin-bottom: 1rem;
  background-color: #979797;
  justify-self:center;
  width: 45vh;
  height: 3vh;
}

.contenedor-asientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.asientos {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.fila-asientos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
}

.boton-pov {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-pov:hover {
  background-color: #495057;
}

.descripcion-asiento {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.descripcion-asiento.disponible:hover {
  background-color: #28a745; 
  border-color: #28a745;
}

.descripcion-asiento.ocupada {
  background-color: gold;
  border-color: #000000;
}

.descripcion-asiento.seleccionada {
  background-color: #0d6efd;
  border-color: #000000;
}

.descripcion-asiento.silla {
  background-color: orange;
  border-color: #030303;
}

.leyenda {
  display: flex;
  justify-content: space-around;
  font-size: 0.85rem;
  color: #000000;
  margin-top: 1rem;
  text-align: center;
}

.leyenda div {
  display: flex;
  align-items: center;
  gap: 5px;
}


@media (max-width: 768px) {
  .panel-derecho {
    padding: 1rem;
  }

  .pantalla-etiqueta {
    width: 100%;
    font-size: 1rem;
  }

  .fila-asientos {
    flex-wrap: wrap;
    gap: 8px;
  }

  .asientos {
    flex-wrap: wrap;
    gap: 6px;
  }

  .boton-pov {
    padding: 4px 8px;
    font-size: 0.8rem;
  }

  .leyenda {
    flex-direction: column;
    gap: 0.5rem;
  }
}


