.etiqueta-estado {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.etiqueta-estado.abierto {
  background-color: #607D8B;
}

.etiqueta-estado.resuelto {
   background-color: #2A6D9E;
}

.etiqueta-estado.pendiente {
  background-color: #FF7F0E;
  color: #000000; 
}

